SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
OPEN_METEO_BASE_URL="https://api.open-meteo.com/v1/forecast"
DATA_FILE=twinnetra_climate_2024.csv
MOSDAC_FILE=3RIMG_19JUN2026_0015_L2B_LST_V01R00.h5
